

.button{
    margin-block: 2rem;
    background-color: transparent;
    border: 2px solid #3c6aaf;
    padding: .5rem 1rem;
    color: #3c6aaf;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.button:hover{
    background-color: #3c6aaf;
    color: #ffffff;
}